/* 모바일 기준 */
body{background: lightblue;}
#container{width: 320px; margin: 0 auto;}
.card{width: 300px; height: 500px; background: white;
     position: relative; margin-bottom: 15px;}
.word{position: absolute; top: 300px; left: 10px;
text-align: center; padding-right: 10px;}

/* 태블릿 기준 */

@media screen and (min-width : 780px) {
     
     #container{width: 570px; margin: 0 auto;}
     .card{width: 550px; height: 250px;
          position: relative;}
     .word{position: absolute;
          top: 50px; left: 310px;
     }
     
}

@media screen and (min-width : 1710px) {
     #container{
          width: 1800px; margin: 0 auto; margin: 0 auto;
          
     }
     .card{
          /* float: left;  */
          margin-left: 20px;
          display: inline-block;
     }
         
}