*{margin: 0; padding: 0;}
/* 모바일 기준 */
#container{width: 100%; margin: 0 auto; background: crimson;}
#container h1{font-size: 2em;}
header{height: 100px; border: 1px solid white;}
section{height: 600px; border: 1px solid white;}
footer{height: 100px; border: 1px solid white;}

/* 태블릿 영역 지정 */

@media screen and (min-width : 780px){
     #container{width: 100%; margin: 0 auto; background: forestgreen;}
}

/* pc 영역 지정 */

@media screen and (min-width : 1024px) {
     #container{width: 1000px; margin: 0 auto; background: slateblue;}
     
}