#container{
     width: 800px;
     margin: 20px auto;
     border: 1px solid #333;
     border-radius: 5px;
     padding: 10px 20px;
}

nav a{
     text-decoration: none;
     color: #333;
}

/* 로그인 스타일 */
.login{
     width: 300px;
}
.login td{
     width: 150px;
     height : 30px;
}