*{margin: 0; padding: 0;}
.gallery li h3{
     margin: 30px 0px;}
.gallery li{
     text-align: center;
     list-style-type: none;
     width: 150px;
     float: left;
     margin-right: 10px;
}
.gallery li p{
     text-align: justify;
     padding: 10px;
     font-size: 14px;
}
.gallery li:nth-of-type(1) h3{
     background: tomato;
}
.gallery li:nth-of-type(2) h3{
     background: skyblue;
}
.gallery li:nth-of-type(3) h3{
     background: orange;
}
.gallery li:nth-of-type(4) h3{
     background: green;
}